.poppins-font {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
/* commin style  */
.mauto {
  margin: 0px auto;
}
.btn-primary {
  font-weight: bold;
  background-color: #e02c6d;
  color: #ffffff;
  border: none;
  border-radius: 41px;
  padding: 10px 25px;
}

/* navbar */
.navbar {
  max-width: 1440px;

  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.navbar ul {
  display: flex;
}
.navbar li {
  list-style: none;
}
#icon {
  margin-left: 35px;
}
#icon2 {
  margin-left: 30px;
}
.navbar a {
  text-decoration: none;
  color: #3a3a3a;
  margin-right: 30px;
  font-weight: 600;
}
.logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: #3a3a3a;
}

/* end nav section  */

/* banner sction start  */
.influencer {
  display: flex;
  align-items: center;
   max-width: 1440px;
  /* height: 500px;  */
   margin: 0 auto; 
  justify-content: space-between;
  margin-top: 30px;
  padding: 30px;

}


.influencer-title {
  font-size: 3.35rem;
  font-weight: bold;
  max-width: 582px;
  color: #3a3a3a;
  margin-bottom: 10px;
}
.influencer-description {
  max-width: 505px;
  font-weight: 600px;
  color: #3a3a3a;
}
.influencer-right img {
  height: 414px;
  position: relative;
  top: 30px;
  right: 33px;
  
}
img{
    max-width: 100%;
}
.influencer {
  background-image: url("./images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: top right;
}
/* company setion  */

.company {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  max-width: 1110px;
  margin-top: 70px;
  /* height: 110px; */
  gap: 60px;
  border-top: 1px solid #c0ccda;
  border-bottom: 1px solid #c0ccda;
}
.company-name {
  width: 110px;
}

/* Popular Collection */
.Collection {
  max-width: 1140px;
  margin-top: 100px;
}
.Collection-title {
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
  color: #3a3a3a;
}

.Collection-card {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  width: 339px;
  height: 480px;
  border-radius: 5px;

  padding: 15px;
  box-shadow: 0px 0px 40px 0px #00000026;
  background: #ffffff;
}
.card img {
  width: 100%;
}

.cardtitle {
  margin: 6px;
  color: #18191f;
  font-weight: 500;
  font-size: 1.8rem;
}
.price {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  margin: 5px;
  padding-bottom: 8px;
}
.reting {
  color: #fb8200;
}
.card-description {
  margin-top: 2px;
  color: #787885;
}

/* mobile device responsive */
@media screen and (max-width: 576px) {
  .navbar,
  ul,
  .influencer {
    flex-direction: column;
    /* flex-direction: column-reverse; */
  }
  .company{
    grid-template-columns: repeat(2,1fr);
  }
  .Collection{
    /* margin-top: 300px; */
  }
  .Collection-card {
    grid-template-columns: repeat(1, 1fr);
   justify-items: center;
  }

  .influencer {
    background-image: none;
  }

  .company{
    /* margin-top: 400px; */
    border: none;
    justify-items: center;
  }
}

/* medium device responsive */
@media screen and (min-width: 577px) and (max-width: 993px) {
  .influencer-description {
    width: 400px;
  }
}
